.main-div{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    row-gap: 5px;
    margin-bottom: 10px;
}

.card{
    flex-shrink: 0;
    text-align: center;
    align-items: center;
    margin-right: 5px;
    position: relative;
}

.image-container {
    height: 250px; /* Adjust the height as needed */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_button{
    position: relative;
    bottom: 5px;
    justify-content: center;
    padding: 4%;
    background-color: #64897b;
    color: black;
    border-radius: 5px;
    border: none;
}

@media (max-width: 992px) {
    .main-div{
        grid-template-columns: 33% 33% 33%;
    }
}

@media (max-width: 760px) {
    .main-div{
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 460px) {
    .main-div{
        grid-template-columns: 100%;
    }
}