.slider-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 1100px; /* Adjust as needed */
    margin: 6px auto;
}

.slider-container .slide_heading{
    display: flex;
    justify-content: center;
    background-color: gray;
    margin-bottom: 2px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.card{
    width: 25%;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    height: 250px; /* Adjust the height as needed */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .sl-im {
    width: 25%;
    flex-shrink: 0;
}

.card-body{
    position: relative;
    padding: 50px;
}

.card-body .card_button{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 5%;
    left: 20%;
    padding: 2%;
    font-size:large;
    background-color: #64897b;
    color: black;
    border-radius: 5px;
    border: none;
}

@media (max-width: 992px) {
    .slider-container {
        width: 90%;
        max-width: 650px;
    }
    .slider .sl-im {
        width: 50%; /* Display two images per slide on screens between sm and md */
    }
}

@media (max-width: 576px) {
    .slider-container {
        width: 90%;
        max-width: 350px;
    }
    .slider .sl-im {
        width: 100%; /* Display one image per slide on screens less than sm */
    }
}

.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
.card-text{
    margin-bottom: 5px;
}
.product{
    margin-bottom: 40px;
}