.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1000px; /* Adjust as needed */
    margin: 0 auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.card{
    width: 25%;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_img_top{
    width: 18rem;
    height: 20rem;
}

.slider .sl-im {
    width: 25%;
    flex-shrink: 0;
}

@media (max-width: 992px) {
    .slider .sl-im {
        width: 50%; /* Display two images per slide on screens between sm and md */
    }
}

@media (max-width: 576px) {
    .slider .sl-im {
        width: 100%; /* Display one image per slide on screens less than sm */
    }
}

.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}