body {
    overflow-x: hidden;
}
.website-logo {
    width: 100%;
    height: 50%;
}
.head1{
    background-color: black;
    min-height: 65px;
}
.search-bar{
    width:60%;
    margin-right:-5px;
    margin-left: 10%;
    padding:5px;
    display: inline-block;
    border-bottom-left-radius: 10px;
    border:none;
}
input[type="submit"] {
    width:80px;
    margin: 0;
    padding: 5px;
    display: inline-block;
    border-top-right-radius: 10px;
    background-color: #64897b;
    border:none;
}

.login-button{
    font-weight: 600;
    margin-right: 4%;
    margin-left: 10%;
    padding:2%;
    width:60px;
    border:none;
    background-color: #64897b;
    border-radius: 10%;
}
.navitems{
    align-items:center;
    background-color: rgb(234, 234, 234);
}
a.nav-link{
    color:black;
}
#mainPageHeadLogo:hover{
    cursor: pointer;
}
.thirdcol{
    display:flex;
    justify-content: center;
}

@media screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
@media screen and (max-width: 576px) {
    .website-logo{
        width:75%;
        margin-right: 5%;
    }
    .hamburger{
        font-size: xx-large;
        border:2px solid #64897b;
        padding:6px 12px 6px 12px;
        border-radius: 5px;
        color:#64897b;
    }
    .thirdcol{
        display:none;
    }
    .secondcol{
        display:none;
    }
    
}
@media screen and (min-width: 576px) {
    .hamburger{
        display:none;
    }
}
  
